script(type="text/x-template")#reviews-container
  .reviews-block
    .container
      .reviews-block__head
        .reviews-block__title Что обо мне говорят
        .reviews-block__buttons
          button(@click="slide('prev')").reviews-block__button.reviews-block__button-left.disabled
            +icon('arrow-down', 'reviews-buttons__arrow-left')
          button(@click="slide('next')").reviews-block__button.reviews-block__button-right
            +icon('arrow-down', 'reviews-buttons__arrow-right')
      .reviews-block__reviews-slider
        swiper(ref="slider" :options="sliderOptions")
          swiper-slide.carousel-cell.review(v-for="review in reviews" :key="review.id")
            .review__desc
              .review__desc-commas
                +icon('quote', 'review__comma')
              .review__desc-text 
                p {{review.text}}
            .review__author
              .review__author-avatar 
                img(:src="review.pic").review__author-image
              .review__author-desc
                .review__author-name {{review.name}}
                .review__author-func {{review.occ}}