footer.section-footer
  .container.footer-container
    .footer 
      .footer__left-block
        .footer__copyright 	&copy; 2021
        .footer__author-name ЭДУАРД АЛПАРОВ
        .footer__site-type Личный сайт веб-разработчика
      .footer__right-block
        .footer__menu-block
          ul.menu
            li.menu__item.menu__item--footer
              a(href="#about").menu__link Обо мне
            li.menu__item.menu__item--footer
              a(href="#skills").menu__link Навыки 
            li.menu__item.menu__item--footer
              a(href="#slider").menu__link Работы
            li.menu__item.menu__item--footer
              a(href="#reviews").menu__link Отзывы
        .footer__info-block
          .footer__dev-soc
            .footer__dev-info
              p Этот сайт я сделал в рамках обучения в Школе онлайн образования Loftschool
            .footer__socials
              ul.socials
                li.social__item.social__item--footer
                  a.socials__link.socials__link--footer
                    +icon('insta', 'socials__icon')
                li.social__item.social__item--footer
                  a.socials__link.socials__link--footer
                    +icon('github', 'socials__icon')
                li.social__item.social__item--footer
                  a.socials__link.socials__link--footer
                    +icon('vk', 'socials__icon')
                li.social__item.social__item--footer
                  a.socials__link.socials__link--footer
                    +icon('letter', 'socials__icon')
          .footer__citation 
            .footer__citation-text
              p Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает где вы живете.
            .footer__citation-author Martin Golding

