section.skills-section#skills-section
  .container.skills-contanier
    .skills
      .skills__head-text
        .skills__title  Чем я могу быть полезен вам
        .skills__desc Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
      .skills__list
        #skills-component
    .skills-pic__container  
      +image('content/bag.png', 'skills-pic__image')    
